html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0; padding: 0;
    max-width: 90rem;
    min-width: 23.4375rem;
    font-family: 'Barlow', sans-serif;
    
}

h1,h2,h3,h4 {
    font-family: 'Fraunces', serif;
}

.container {
    height: 100vh;
    display: grid;
   grid-template-rows: auto;
}