.headerRow {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: url(/images/desktop/image-header.jpg) no-repeat center center /cover;
    padding: 0.5rem;
    min-height: 35rem;

    @include breakpoints(phone){
        background: url(/images/mobile/image-header.jpg)no-repeat center center /cover;
    }
}

.desktopNav {
    display: flex;
    padding: 0.5rem;
    margin: 1rem;
    align-items: center;
    justify-content: space-between;

    .navLinks {
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        a{
            text-decoration: none;
            color: $white;
        }

        .contact {
            background-color: $white;
            color: $veryDDBlue;
            text-transform: uppercase;
            font-family: 'Fraunces', serif;
            height: 3.3rem;
            width: 9rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 1.875rem;
        }
        .contact:hover{
            background-color: rgba(255, 255, 255, 0.495);
            color: $white;
        }

        @include breakpoints(tablet){
            display: none;
        }
    }
}
.hero_section {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        color: $white;
        text-transform: uppercase;
        letter-spacing: 0.4rem;
        margin: 3rem 0;

        @include breakpoints(phone){
            font-size: 2.5rem;
            text-align: center;
        }
    }
}