.squares {
    flex: 1;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    min-height: 80%;

    @include breakpoints(phone){
        display: flex;
        flex-direction: column;
    }
   
}

.textSquare {
        padding: 1rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 3rem;

    .textSquare_title{
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 0.35rem;
    }

    .textSquare_text {
        color: $dGrayBlue;
        line-height: 1.5rem;
    }
     
    .clr_link{
        display: flex;
        flex-direction: column;
        
        a{
         text-decoration: none;
         color: $veryDDBlue;
         font-family: 'Fraunces', serif;
         text-transform: uppercase;
         z-index: 3;
        }

        .link {
            width: 8rem;
            height: 0.5rem;
            border-radius: 1rem;
            position: relative;
            left: -0.4375rem;
            top: -0.5rem;
            z-index: 1;
        }
        .yellow {
            background: $yellow;
            align-self: flex-start;

            @include breakpoints(phone){
                align-self: center;
            }
     }

        .red {
            background: $softRed;
            align-self: flex-start;

            @include breakpoints(phone){
                align-self: center;
            }
        }
    }
    

    @include breakpoints(phone){
        text-align: center;
        padding: 0;
    }    
}

.transformRow, .standoutRow, .gdPhotoRow {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 28rem;

    @include breakpoints(phone){
        display: flex;
        flex-direction: column;

    }
}

.transformRow {
    grid-row: 1;
    
    .transformRow_image {
        background: url(/images/desktop/image-transform.jpg) no-repeat center center /cover;

        @include breakpoints(phone){
            min-height: 20rem;
            background: url(/images/mobile/image-transform.jpg)no-repeat center center /cover;
        }
    }

    @include breakpoints(phone){
        flex: 1;
        flex-direction: column-reverse;
    }
}
.standoutRow {
    grid-row: 2;

    .standoutRow_image {
        background: url(/images/desktop/image-stand-out.jpg) no-repeat center center /cover;

         @include breakpoints(phone){
            min-height: 20rem;
            background: url(/images/mobile/image-stand-out.jpg)no-repeat center center /cover;
        }
    }

     @include breakpoints(phone){
        flex: 1;
    }
}

.gdPhotoRow {
    grid-row: 3;

    .graphicDesign {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        background: url(/images/desktop/image-graphic-design.jpg)no-repeat center center /cover;

        @include breakpoints(phone){
            min-height: 40rem;
            background: url(/images/mobile/image-graphic-design.jpg)no-repeat center center /cover;
        }
    }

    .photography {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        background: url(/images/desktop/image-photography.jpg)no-repeat center center /cover;
            
        @include breakpoints(phone){
            min-height: 40rem;
            background: url(/images/mobile/image-photography.jpg)no-repeat center center /cover;
        }
    }

    &_title {
        font-size: 1.8rem;
        font-weight: 600;
        font-family: 'Fraunces', serif;
        margin-bottom: 0.25rem ;
    }

    .gdesign{
        color: $ddCyan;
    }
    .photo {
        color: $ddBlue;
    }

    &_text{
        width: 22rem;
        text-align: center;
        margin-bottom: 3rem;
        line-height: 1.5rem;
    }

    @include breakpoints(phone){
        // grid-row: 5/6;
        display: flex;
        flex-direction: column;
    }
}
