.clientsTRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: 40rem;
    padding: 2rem;

    &_title {
        padding: 2rem;
        font-size: 1rem;
        text-transform: uppercase;
        font-family: 'Fraunces', serif;
        letter-spacing: 0.25rem;
        color: $grayishBlue;

        @include breakpoints(phone){
            padding: 0;
            margin-bottom: 3rem;
        }
    }

    &_tests {
        display: flex;
        gap: 1.2rem;
        padding: 2rem;
        min-height: 28rem;

        @include breakpoints(phone){
            flex-direction: column;
            gap: 2.2rem;
            padding: 0;
        }
    }

    .client_tes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        &_image {
            width: 5rem;
            height: 5rem;

            img {
                width: 100%;
                border-radius: 50%;
            }
        }
        &_text {
            text-align: center;
            color: $dGrayBlue;
            line-height: 1.7rem;
        }
        &_author {
            text-align: center;

            .cta_name {
            font-family: 'Fraunces', serif;
            margin-bottom: 0;
            }

            .cta_title {
                font-size: 0.9rem;
                color: $grayishBlue;
                margin-top: 0.4rem;
            }
        }
    }
}

.imagesRow {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 18rem;

    &_pic {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
        }
    }

    @include breakpoints(phone){
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}