html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  max-width: 90rem;
  min-width: 23.4375rem;
  font-family: 'Barlow', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Fraunces', serif;
}

.container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobileIcon {
  display: none;
}

@media (max-width: 830px) {
  .mobileIcon {
    display: block;
    cursor: pointer;
  }
}

.menuarrow {
  display: none;
}

@media (max-width: 830px) {
  .menuarrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 10%;
    left: 82%;
    right: 12%;
    background: white;
    height: 2rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
}

.mobile_navLinks {
  display: none;
}

@media (max-width: 830px) {
  .mobile_navLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 14%;
    left: 12%;
    right: 12%;
    background: white;
    height: 16rem;
    z-index: 10;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .mobile_navLinks a {
    text-decoration: none;
    color: #818498;
  }
  .mobile_navLinks .mobile_contact {
    color: #23303e;
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    background-color: #fad400;
    padding: 0.9rem;
    border-radius: 1.8rem;
  }
}

.mobile_active {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menuArrow_active {
  -webkit-clip-path: polygon(0 91%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 91%, 100% 0, 100% 100%, 0% 100%);
}

.headerRow {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(/images/desktop/image-header.jpg) no-repeat center center/cover;
  padding: 0.5rem;
  min-height: 35rem;
}

@media (max-width: 540px) {
  .headerRow {
    background: url(/images/mobile/image-header.jpg) no-repeat center center/cover;
  }
}

.desktopNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
  margin: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.desktopNav .navLinks {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.desktopNav .navLinks a {
  text-decoration: none;
  color: white;
}

.desktopNav .navLinks .contact {
  background-color: white;
  color: #23303e;
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
  height: 3.3rem;
  width: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1.875rem;
}

.desktopNav .navLinks .contact:hover {
  background-color: rgba(255, 255, 255, 0.495);
  color: white;
}

@media (max-width: 830px) {
  .desktopNav .navLinks {
    display: none;
  }
}

.hero_section {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero_section h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  margin: 3rem 0;
}

@media (max-width: 540px) {
  .hero_section h1 {
    font-size: 2.5rem;
    text-align: center;
  }
}

.squares {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  min-height: 80%;
}

@media (max-width: 540px) {
  .squares {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.textSquare {
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem;
}

.textSquare .textSquare_title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.35rem;
}

.textSquare .textSquare_text {
  color: #818498;
  line-height: 1.5rem;
}

.textSquare .clr_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.textSquare .clr_link a {
  text-decoration: none;
  color: #23303e;
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
  z-index: 3;
}

.textSquare .clr_link .link {
  width: 8rem;
  height: 0.5rem;
  border-radius: 1rem;
  position: relative;
  left: -0.4375rem;
  top: -0.5rem;
  z-index: 1;
}

.textSquare .clr_link .yellow {
  background: #fad400;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (max-width: 540px) {
  .textSquare .clr_link .yellow {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.textSquare .clr_link .red {
  background: #fe7867;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (max-width: 540px) {
  .textSquare .clr_link .red {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 540px) {
  .textSquare {
    text-align: center;
    padding: 0;
  }
}

.transformRow, .standoutRow, .gdPhotoRow {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 28rem;
}

@media (max-width: 540px) {
  .transformRow, .standoutRow, .gdPhotoRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.transformRow {
  -ms-grid-row: 1;
  grid-row: 1;
}

.transformRow .transformRow_image {
  background: url(/images/desktop/image-transform.jpg) no-repeat center center/cover;
}

@media (max-width: 540px) {
  .transformRow .transformRow_image {
    min-height: 20rem;
    background: url(/images/mobile/image-transform.jpg) no-repeat center center/cover;
  }
}

@media (max-width: 540px) {
  .transformRow {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.standoutRow {
  -ms-grid-row: 2;
  grid-row: 2;
}

.standoutRow .standoutRow_image {
  background: url(/images/desktop/image-stand-out.jpg) no-repeat center center/cover;
}

@media (max-width: 540px) {
  .standoutRow .standoutRow_image {
    min-height: 20rem;
    background: url(/images/mobile/image-stand-out.jpg) no-repeat center center/cover;
  }
}

@media (max-width: 540px) {
  .standoutRow {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.gdPhotoRow {
  -ms-grid-row: 3;
  grid-row: 3;
}

.gdPhotoRow .graphicDesign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: url(/images/desktop/image-graphic-design.jpg) no-repeat center center/cover;
}

@media (max-width: 540px) {
  .gdPhotoRow .graphicDesign {
    min-height: 40rem;
    background: url(/images/mobile/image-graphic-design.jpg) no-repeat center center/cover;
  }
}

.gdPhotoRow .photography {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: url(/images/desktop/image-photography.jpg) no-repeat center center/cover;
}

@media (max-width: 540px) {
  .gdPhotoRow .photography {
    min-height: 40rem;
    background: url(/images/mobile/image-photography.jpg) no-repeat center center/cover;
  }
}

.gdPhotoRow_title {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: 'Fraunces', serif;
  margin-bottom: 0.25rem;
}

.gdPhotoRow .gdesign {
  color: #25564b;
}

.gdPhotoRow .photo {
  color: #19536b;
}

.gdPhotoRow_text {
  width: 22rem;
  text-align: center;
  margin-bottom: 3rem;
  line-height: 1.5rem;
}

@media (max-width: 540px) {
  .gdPhotoRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.clientsTRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  min-height: 40rem;
  padding: 2rem;
}

.clientsTRow_title {
  padding: 2rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
  letter-spacing: 0.25rem;
  color: #a7abae;
}

@media (max-width: 540px) {
  .clientsTRow_title {
    padding: 0;
    margin-bottom: 3rem;
  }
}

.clientsTRow_tests {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.2rem;
  padding: 2rem;
  min-height: 28rem;
}

@media (max-width: 540px) {
  .clientsTRow_tests {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.2rem;
    padding: 0;
  }
}

.clientsTRow .client_tes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.clientsTRow .client_tes_image {
  width: 5rem;
  height: 5rem;
}

.clientsTRow .client_tes_image img {
  width: 100%;
  border-radius: 50%;
}

.clientsTRow .client_tes_text {
  text-align: center;
  color: #818498;
  line-height: 1.7rem;
}

.clientsTRow .client_tes_author {
  text-align: center;
}

.clientsTRow .client_tes_author .cta_name {
  font-family: 'Fraunces', serif;
  margin-bottom: 0;
}

.clientsTRow .client_tes_author .cta_title {
  font-size: 0.9rem;
  color: #a7abae;
  margin-top: 0.4rem;
}

.imagesRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 18rem;
}

.imagesRow_pic {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.imagesRow_pic img {
  width: 100%;
}

@media (max-width: 540px) {
  .imagesRow {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

footer {
  background-color: rgba(98, 208, 186, 0.947);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2rem;
  min-height: 18rem;
}

footer img {
  margin-top: 2rem 0;
}

footer .ftr_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

footer .ftr_links a {
  font-size: 0.9rem;
  text-decoration: none;
  color: #2C7566;
}

footer .ftr_links a:hover {
  color: white;
}

footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
  gap: 2rem;
}

footer .social a:hover {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

footer .attribution {
  color: #2C7566;
  font-size: 0.7rem;
}

footer .attribution a {
  text-decoration: none;
  font-size: 0.7rem;
  color: #2C7566;
}
/*# sourceMappingURL=styles.css.map */