html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  max-width: 90rem;
  min-width: 23.4375rem;
  font-family: 'Barlow', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Fraunces', serif;
}

.container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.headerRow {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url(/images/desktop/image-header.jpg) no-repeat center center/cover;
  padding: 0.5rem;
  min-height: 35rem;
}

.desktopNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
  margin: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.desktopNav .navLinks {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.desktopNav .navLinks a {
  text-decoration: none;
  color: white;
}

.desktopNav .navLinks .contact {
  background-color: white;
  color: #23303e;
  text-transform: uppercase;
  font-family: 'Fraunces', serif;
  height: 3.3rem;
  width: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1.875rem;
}

.desktopNav .navLinks .contact:hover {
  background-color: rgba(255, 255, 255, 0.495);
  color: white;
}

.hero_section {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero_section h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  margin: 3rem 0;
}

.squares {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  min-height: 80%;
}

.textSquare {
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 3rem;
}

.textSquare .textSquare_title {
  font-size: 2rem;
  font-weight: 600;
}

.textSquare .textSquare_text {
  color: #818498;
}

.transformRow, .standoutRow, .gdPhotoRow {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 27rem;
}

.transformRow {
  -ms-grid-row: 1;
  grid-row: 1;
}

.transformRow .transformRow_image {
  background: url(/images/desktop/image-transform.jpg) no-repeat center center/cover;
}

.standoutRow {
  -ms-grid-row: 2;
  grid-row: 2;
}

.standoutRow .standoutRow_image {
  background: url(/images/desktop/image-stand-out.jpg) no-repeat center center/cover;
}

.gdPhotoRow {
  -ms-grid-row: 3;
  grid-row: 3;
}

.gdPhotoRow .graphicDesign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: url(/images/desktop/image-graphic-design.jpg) no-repeat center center/cover;
}

.gdPhotoRow .photography {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: url(/images/desktop/image-photography.jpg) no-repeat center center/cover;
}
/*# sourceMappingURL=styles.css.map */